<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} %5p --- [%10.50t] %-1.50c{1.}.%-1.20M:%L: %m%n%ex</Property>
    </Properties>
    
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.zerock.myapp" level="trace" />
	
		<!-- 3rdparty Loggers -->
		<logger name="org.springframework.core" level="info"/>		
		<logger name="org.springframework.beans" level="info"/>
		<logger name="org.springframework.context" level="info"/>
		<logger name="org.springframework.web" level="info"/>

        <logger name="log4jdbc.log4j2" level="info" additivity="false">
            <MarkerFilter marker="LOG4JDBC_JDBC" onMatch="DENY" onMismatch="NEUTRAL"/>
            <appender-ref ref="ConsoleAppender"/>
        </logger>
        

        <Root level="warn">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>