/*studylist 전반에 작용되는 css 입니다*/
.studylist-header {
  /*스터디리스트 헤더 주황색 부분*/
  background-color: rgb(235, 171, 49);
  display: inline-block;
  width: 100%;
  height: 35%;
  border-radius: 30px;
  padding-right:30px;
}
.studylist-header-chal {
  /*챌린지 스터디리스트 헤더 초록색 부분*/
  background-color: rgb(107,152,79);
  display: inline-block;
  width: 100%;
  height: 35%;
  border-radius: 30px;
  padding-right:30px;
}
h1 {
  color: white;
  padding-top: 130px;
  text-align: center;
}
h3 {
  color: white;
  padding-top: 25px;
  text-align: center;
}
.studylist-header ul , .studylist-header-chal ul{
  list-style: none;
}
.studylist-header li, .studylist-header-chal li{
  color:white;
  float: right;
}

/*********************네비 설정********************************/
.studylist-nav {
  /*로고 나열된 네비 부분(프,챌 공통)*/
  background-color: white;
  display: inline-block;
  width: 100%;
  height: 100px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgb(204, 204, 204);
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-to-sort {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.dropdown-to-sort{/*챌린지 게시판에서 드롭다운*/
  padding:30px;
  display: flex;
  justify-content: center;

}

.dropdown{
  margin-left: 20px;
}
.dropdown-label { /*챌린지 게시판에서 드롭다운 라벨*/
  padding-top:5px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: large;
}

.logo-to-sort li {
  float: left;
  margin-left: 10px;
  margin-right: 10px; /*반응형시, 로고가 꾸겨지면서 사라지는 현상 있음. 나중에 수정바람*/
}

/*********************최신 | 인기 | 마감제외********************************/
.studylist-sort {
  /*최신 | 인기 | 마감제외 버튼 부분*/
  display: inline-block;
  width: 100%;
  height: 3%;
  display: flex;
}
.left-items {
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.right-items {
  font-weight: bold;
  font-size: large;
  margin-left: auto;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}
/*********************카드뉴스 설정********************************/
.studylist-content-wrapper {
  /*내용 wrapper*/
  background-color: white;
  display: inline-block;
  width: 100%;
  height: 500px;

  padding-top: 15px;
}
.studylist-content-ul {
  /*카드뉴스 틀 UL*/
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.studylist-content {
  /*카드뉴스 틀 전체 설정*/
  background-color: white;
  box-shadow: 3px 3px 3px 3px rgb(204, 204, 204);
  width: 220px;
  height: 220px;
  border-radius: 10px;
  float: left;
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  display: flex;        /*flex 실험중*/
  flex-direction:column;/*flex 실험중*/
}
/****카드뉴스 상부****/
.studylist-content-title {
  /*카드뉴스 제목*/
  font-size: 15px;
  padding-top: 25px;
  margin-bottom: 0px;
  flex: 1 1 35%;/*flex 실험중*/
}

/****카드뉴스 중앙부****/
.studylist-content-logo {
  /*카드뉴스 안에 로고 있는 부분 UL*/
  list-style: none;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0;
  text-align: center;
  display: table;
  flex: 1 1 auto;/*flex 실험중*/
}

.studylist-content-info{
  /*카드뉴스 안에 지역이랑 유형 있는 부분(챌린지에서)*/
  list-style: none;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0;
  text-align: center;
  flex: 1 1 auto;/*flex 실험중*/
}

.studylist-content-info .span-sido{
  /*카드뉴스 안에 지역이랑 유형 있는 부분(챌린지에서) 지역*/
  font-size: 16px;
  font-weight: 900;
}
.studylist-content-info .span-cate{
  /*카드뉴스 안에 지역이랑 유형 있는 부분(챌린지에서) 지역*/
  background-color: rgb(146,208,86);
  color: white;
  padding:5px;
  border-radius: 5px;
}
.studylist-content-logo li {
  /*로고 세부*/
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

/****카드뉴스 하부****/
.studylist-hitAndRepl {
  /*카드뉴스안에 댓글이랑 조회수 UL*/
  list-style: none;
  margin-top: 40px;
  float: right;
  flex: 1 1 auto;/*flex 실험중*/
  padding-left: 110px;
}
.studylist-hitAndRepl li {
  /*카드뉴스안에 댓글이랑 조회수*/
  margin-left: 4px;
  margin-right: 4px;
  float: left;
}

/*********************카드뉴스 설정********************************/


/*********************글쓰기단************************************/
/*글쓰기단의 전체 구성*/
#post-body-wrapper{
  display: flex;
  justify-content: center;
}
/*제목, 팀이름 input*/
#post-body input[type=text]{
  height:40px;
  width:100%;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin:20px;
}
/*언어태그, 챌린지 유형*/
#lang-sec{
  margin-top:20px;
  margin-bottom:20px;
  display:inline-block;
}
/*언어태그, 챌린지 유형에서 ':' 로 표현되는 설명*/
#lang-sec span{
  font-size: 16px;
  font-weight: 500;
}
#lang-sec ul{
  list-style: none;
}
#lang-sec li{
  float: left;
}
#lang-sec .mini-tag{
  background-color: black;
  border-radius: 4px;
  margin-right:10px;
  padding: 3px 5px;
  color: white;
  cursor: pointer;
}
.mini-tag span{
  color:red;
  cursor: pointer;
}
.form-control{
  margin-left:20px;
}
#sido-sec{
  margin-top:20px;
  margin-bottom:20px;
  display:inline-block;
}
#sido-sec span{
  font-size: 16px;
  font-weight: 500;
}
#sido-sec ul{
  list-style: none;
}
#sido-sec li{
  float: left;
}
/*제출 및 취소 버튼*/
#button-sec ul{
  list-style: none;
}
#button-sec li{
  float: right;
  background-color: black;
  margin-left:10px;
  padding: 10px 13px;
  color:white;
  border-radius: 5px;
  border:1px solid black;
  transition-duration:0.5s;
}
#button-sec li:hover{
  cursor: pointer;
  background-color: white;
  border:1px solid black;
  color:black;
}

