<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ssff.member.MemberMapper">

	<!--  스터디 멤버 조회(모달) : 신지혜 -->
	<select 
		id="getStudyMemberList" 
		resultType="kr.or.ssff.domain.ApplyMemberVO">
      
	        SELECT
	            /*+ member_name_asc(apply_member) */ * <!-- 닉네임순 정렬 -->
	        FROM apply_member 
	        WHERE r_idx = #{r_idx} 				<!-- //TODO 멤버조회 클릭한 스터디의 번호 -->
            AND study_join_arciwf='i'		<!-- 가입상태는 i (가입중) -->

	</select>
	

</mapper>


