<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ssff.mapper.MemberMapper">

	<!--  RecruitBoard와 ApplyMember멤버, 기본 member table 조인을 위해 result Mqp생성  : 신지혜 -->
	<resultMap type="kr.or.ssff.member.domain.ApplyMemberDTO" id="applyMemberMap">
		<id column="APPLY_IDX" property="apply_idx"/>
		<result column="R_IDX" property="r_idx"/>
		<result column="MEMBER_NAME" property="member_name"/>
		<result column="STUDY_JOIN_ARCIWF" property="study_join_arciwf"/>
		<result column="STUDY_JOIN_CHANGE_DATE" property="study_join_change_date"/>
		<result column="STUDY_BOSS_YN" property="study_boss_yn"/>
		<result column="ATTENDANCE_DAYS" property="attendance_days"/>
		
		<association javaType="kr.or.ssff.study.domain.RecruitBoardDTO" property="recruitBoardDTO">
			<id column="R_IDX" property="r_idx"/>
			<result column="MEMBER_NAME" property="member_name"/>
			<result column="TYPE_PC" property="type_pc"/>
			<result column="TITLE" property="title"/>
			<result column="TEAMNAME" property="teamname"/>
			<result column="CONT" property="cont"/>
			<result column="HIT" property="hit"/>
			<result column="WRITEDATE" property="writedate"/>
			<result column="SIDO" property="sido"/>
			<result column="CH_PATTERN" property="ch_pattern"/>
			<result column="CH_START" property="ch_start"/>
			<result column="CH_END" property="ch_end"/>
			<result column="REMOVED_OK" property="removed_ok"/>
			<result column="CLOSED_OK" property="closed_ok"/>
			<result column="DEAD_OK" property="dead_ok"/>

		</association>

		<association javaType="kr.or.ssff.member.domain.MemberDTO" property="memberDTO">
			<id column="MEMBER_NAME" property="member_name"/>
			<result column="MEMBER_NO" property="member_no"/>
			<result column="MEMBER_ID" property="member_id"/>
			<result column="MEMBER_PWD" property="member_pwd"/>
			<result column="MEMBER_PROFILE" property="member_profile"/>
			<result column="MEMBER_INTRODUCE" property="member_introduce"/>
			<result column="MEMBER_ENABLED" property="member_enabled"/>
		</association>

	</resultMap>

	
		<!--  스터디 멤버 + 프로필사진(tn_member) + 스터디팀명(tn_recruit_board) 조회 : 신지혜  -->
	<select 
		id="getApplyMemberList"
		parameterType="Integer"
		resultMap ="applyMemberMap">
		<![CDATA[
		SELECT /*+ member_name_asc(apply_member) */ *
		FROM (SELECT r.r_idx, r.teamname, a.apply_idx,a.member_Name, a.study_join_arciwf, a.study_join_change_date, a.study_boss_yn, a.attendance_days, m.member_profile
					FROM recruit_board r JOIN  apply_member a on r.r_idx=a.r_idx
															 JOIN member m
																		on a.member_Name = m.member_Name)
		WHERE r_idx > #{r_idx} and r_idx < 9020
		]]>

		<!-- //TODO WHERE절 Test를 위해 and 조건 / 추후 단항조건으로 변경예정-->
	</select>

		<!--  전체 회원 조회 : 신지혜  -->
	<select 
		id="getMemberList"
		resultType="kr.or.ssff.member.domain.MemberVO">       
		
		SELECT /*+ index_asc(member) */ * 
		FROM member

	</select>
	
</mapper>


